body {
	text-align: center;
}

.container {
	text-align: center;
	width: 1400px;
	background-color: #f1cb61;
	margin: 3px auto;
}

.search-form {
	padding-bottom: 20px;
}
.search-bar {
	width: 300px;
	height: 30px;
}

.search-btn {
	margin-left: 10px;
	width: 100px;
	height: 35px;
	font-size: 18px;
}

.search-btn:hover {
	background-color: rgb(240, 237, 86);
}

.recipeapp {
	font-size: 50px;
}

.second-div {
	background-color: rgb(241, 243, 243);
	display: flex;

	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}
/* div h1 {
	text-align: center;
} */

.recipe-div {
	text-align: center;
	padding: 10px 0;
	background-color: rgb(253, 232, 206);
	width: 400px;
	min-height: 600px;
	box-shadow: 0px 5px 20px rgb(71, 65, 62);
}

.recipe-div p {
	font-size: 20px;
}

.btn-details {
	width: 150px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	color: black;
	margin-top: 15px;
}

.btn-details a {
	text-decoration: none;
	color: black;
}

.message {
	background-color: red;
}
